# 여러가지 방법으로 data load 하기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 구글 코랩 내에 데이터 파일로부터 data load 하기

In [2]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/데이터마이닝/datas/iris.csv')
print(df.head())

   sepal length in cm  sepal width in cm  petal length in cm  \
0                 5.1                3.5                 1.4
1                 4.9                3.0                 1.4
2                 4.7                3.2                 1.3
3                 4.6                3.1                 1.5
4                 5.0                3.6                 1.4

   petal width in cm species
0                0.2  setosa
1                0.2  setosa
2                0.2  setosa
3                0.2  setosa
4                0.2  setosa

In [3]:
# make some changes
# create an index
df.index.name="record"
df["species"]="new-species"
print(df.head())

# save to file
df.to_csv('/content/drive/MyDrive/Colab Notebooks/데이터마이닝/datas/iris_updated.csv', index=True)

        sepal length in cm  sepal width in cm  petal length in cm  \
record
0                      5.1                3.5                 1.4
1                      4.9                3.0                 1.4
2                      4.7                3.2                 1.3
3                      4.6                3.1                 1.5
4                      5.0                3.6                 1.4

        petal width in cm      species
record
0                     0.2  new-species
1                     0.2  new-species
2                     0.2  new-species
3                     0.2  new-species
4                     0.2  new-species

## web url을 사용하여 data load 하기

In [4]:
# load from web URL
url="https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
names=["sepal length in cm", "sepal width in cm","petal length in cm","petal width in cm","species"]
df=pd.read_csv(url,names=names)
print(df.head())

   sepal length in cm  sepal width in cm  petal length in cm  \
0                 5.1                3.5                 1.4
1                 4.9                3.0                 1.4
2                 4.7                3.2                 1.3
3                 4.6                3.1                 1.5
4                 5.0                3.6                 1.4

   petal width in cm      species
0                0.2  Iris-setosa
1                0.2  Iris-setosa
2                0.2  Iris-setosa
3                0.2  Iris-setosa
4                0.2  Iris-setosa

## web scikit-learn을 사용하여 data load 하기

In [5]:
# load from web Scikit-learn
from sklearn.datasets import load_iris
dataset=load_iris()
df=pd.DataFrame(dataset.data,columns=dataset.feature_names)
df["species"]=dataset.target
print(df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   species
0        0
1        0
2        0
3        0
4        0

In [7]:
# load from web Scikit-learn 
from sklearn.datasets import load_digits
dataset=load_digits()
df=pd.DataFrame(dataset.data,columns=dataset.feature_names)
print(df.head())

   pixel_0_0  pixel_0_1  pixel_0_2  pixel_0_3  pixel_0_4  pixel_0_5  \
0        0.0        0.0        5.0       13.0        9.0        1.0
1        0.0        0.0        0.0       12.0       13.0        5.0
2        0.0        0.0        0.0        4.0       15.0       12.0
3        0.0        0.0        7.0       15.0       13.0        1.0
4        0.0        0.0        0.0        1.0       11.0        0.0

   pixel_0_6  pixel_0_7  pixel_1_0  pixel_1_1  ...  pixel_6_6  pixel_6_7  \
0        0.0        0.0        0.0        0.0  ...        0.0        0.0
1        0.0        0.0        0.0        0.0  ...        0.0        0.0
2        0.0        0.0        0.0        0.0  ...        5.0        0.0
3        0.0        0.0        0.0        8.0  ...        9.0        0.0
4        0.0        0.0        0.0        0.0  ...        0.0        0.0

   pixel_7_0  pixel_7_1  pixel_7_2  pixel_7_3  pixel_7_4  pixel_7_5  \
0        0.0        0.0        6.0       13.0       10.0        0.0
1        0.0        0.0        0.0       11.0       16.0       10.0
2        0.0        0.0        0.0        3.0       11.0       16.0
3        0.0        0.0        7.0       13.0       13.0        9.0
4        0.0        0.0        0.0        2.0       16.0        4.0

   pixel_7_6  pixel_7_7
0        0.0        0.0
1        0.0        0.0
2        9.0        0.0
3        0.0        0.0
4        0.0        0.0

[5 rows x 64 columns]

## seaborn내의 내장 dataset 이용하여, data load 하기

In [6]:
# load from Seaborn
import seaborn as sns
df=sns.load_dataset("flights")
print(df.head())

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [8]:
# load from Seaborn
import seaborn as sns
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'taxis', 'tips', 'titanic']

In [9]:
df=sns.load_dataset("diamonds")
print(df.head())

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75